<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>Article 1</title>
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="css/desktop.css" />
    <meta name="viewport" content="initial-scale=1">

</head>
<header>
    <nav class="nav">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="login.html">Logout</a>
            </li>
            <li>
                <a href="join.html">Join</a>
            </li>
        </ul>
    </nav>

</header>

<body>
    <div class="top-block">
        <ul id="top-inline-block">
            <li>
                <a href="article1.html">Racks&Trackers</a>
            </li>
            <li>
                PVModule
            </li>
            <li>
                PVSystems
            </li>
        </ul>
    </div>
    <div class="left-block">
        <ul id="left-list-block">
            <li>
                <a href="#Section1">Section 1</a>
            </li>
            <li>
                <a href="#Section2">Section 2</a>
            </li>
            <li>
                <a href="#Summary">Summary</a>
            </li>
        </ul>

    </div>

    <div class="main-content">
        <header class="main-header">
            <h1>Racks & Trackers</h1>
            <img id="main-img" src="images/sundv.png">
        </header>
        <p id="Section1">Section 1</p>
        <br>
        <br>
        <br>
        <br>
        <p id="Section2">Section 2</p>
        <br>
        <br>
        <br>
        <br>
        <p id="Summary">Summary</p>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
</html>