<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>Join</title>
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../../static/solarpv/css/desktop.css" />
    <meta name="viewport" content="initial-scale=1">


</head>
<header>
    <nav class="nav">
        <ul>
            <li>
                <a href="{% url 'index' %}"">Home</a>
            </li>
            <li>
                <a href="{% url 'login' %}"">Login</a>
            </li>
            <li>
                <a href="{% url 'join' %}">Join</a>
            </li>
            <li>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>   
        </ul>
    </nav>
</header>

<body>
        <div class="center-div">
        <header>Signup</header>
        <form action="login.html" method="POST">
            <input type="text" name="username" placeholder="Username" maxlength="8" required>
            <br>
            <input type="password" name="password" id="password" placeholder="Password" onchange='check_pass();' required>
            <br>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" onchange='check_pass();'
                required>
            <br>
            <input type="text" name="firstname" placeholder="First Name">
            <br>
            <input type="text" name="middlename" placeholder="Middle Name" required>
            <br>
            <input type="text" name="lastname" placeholder="Last Name" required>
            <br>
            <input type="text" name="address" placeholder="Address" required>
            <br>
            <input type="text" name="onumber" placeholder="Office Number" required>
            <br>
            <input type="text" name="cnumber" placeholder="Cell Number" required>
            <br>
            <input type="email" name="email" placeholder="Email" required>
            <br>
            <input type="submit" id="submit" disables>
        </form>
        </div>
    </div>
    <script>
        function check_pass() {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
        }
    </script>
</body>

</html>