<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>Login</title>
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../../static/solarpv/css/desktop.css" />
    <meta name="viewport" content="initial-scale=1">
</head>

<header>
    <nav class="nav">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="login.html">Logout</a>
            </li>
            <li>
                <a href="join.html">Join</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <div class="center-div">
        <header>Login</header>
        <form action="index.html" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <br>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit">
        </form>
    </div>
</body>

</html>