.center-div {
    width: 200px;
    height: 400px;
    padding: 20px;
    margin: 100px auto 20px auto;
    text-align: left;
    border: 5px solid grey;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.left-div {
    width: 200px;
    height: 400px;
    padding: 20px;
    float: left;
    text-align: left;
    border: 5px solid grey;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.right-div {
    width: 200px;
    height: 400px;
    padding: 20px;
    float: right;
    text-align: left;
    border: 5px solid grey;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.center-div header{
    background-color: grey;
    color: white;
}

.nav {
    text-align: right;
    background-image: url("../images/nav_cloud.jpg");
    background-repeat: no-repeat;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.nav a {
    text-decoration: none;
    color:white;
}

.nav li, .top-block li{
    list-style: none;
    display: inline;
    word-spacing: 2em;
}

.top-block {
    text-align: left;
    width: 600px;
    float:right;
    padding: 10px;
}

.top-block a {
    text-decoration: none;
}

.left-block {
    background-color: black;
    width: 125px;
    height: 600px;
    padding: 10px;
    float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.left-block li {
    list-style: none;
}

.left-block a {
    background-color: gray;    
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.right-block {
    background-color: black;
    width: 125px;
    height: 600px;
    padding: 10px;
    float: right;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.main-content {
    width: 600px;
    height: 500px;
    padding: 10px;
    float: right;
}

.main-header {
    width: 1000px;
}

#main-img {
    float: right;
    border-radius: 300px;
    height: 300px;
    width: 300px;
}

footer {
    text-align: right;
}